@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pangolin&family=Poppins&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Indie+Flower&family=Noto+Serif+Georgian:wght@100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    /* font-family: "Noto Serif Georgian", serif; */
    /* font-family: "KoHo", sans-serif; */
    
    
}

:root{
    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);

    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    --FontSizeP: 18px;
}

.div-container > *{
    flex-grow: 1;
}

.div-container{
    background: #e5e5c3;
    padding: 60px 100px;
    width: 1440px;
    height: 1029px;
    
    margin:auto;

    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* BOX_LEFT -------- BOX_LEFT -------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT*/
/* BOX_LEFT -------- BOX_LEFT -------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT*/
/* BOX_LEFT -------- BOX_LEFT -------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT --------- BOX_LEFT*/

.box-left{
    flex:1;

    display: flex;
    flex-direction: column;
    gap:1em;
}

.box-left > *{
    height: 100%;  
    border-radius: 1em;  
}

/* LEFT-BOX-TOP ------------------------------------------------------------------------------------------------------------------ */

.left-box-top{
    background: var(--Yellow100);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.5em;
}

.left-box-top h2{
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -4.5px;
    font-weight: 500;
    width: 70%;
}

.left-box-top h2 span{
    color:var(--Purple500);
}

.left-box-top img{
    height: 100px;
    width: 80%;
    
}

/* LEFT-BOX-BOTTOM ------------------------------------------------------------------------------------------------------------------ */

.left-box-bottom{
    background: var(--Yellow500);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 25px 30px;
}

.left-box-bottom h2{
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -4.5px;
    font-weight: 500;
    width: 75%;
}

.left-box-bottom img{
    width: 85%;
    height: 230px;
}

/* BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT */
/* BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT */
/* BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT -------- BOX_RIGHT */

.box-right > *{
    border-radius: 1em;

}
.box-right{
    flex:3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;

    grid-template-areas: 
    "box-1 box-1 box-2"
    "box-1 box-1 box-2"
    
    "box-3 box-4 box-2"
    "box-3 box-4 box-2"
    "box-5 box-6 box-6"
    "box-5 box-6 box-6";
}

/* RIGHT-BOX1 --------------------------------------------------------------------------------------------------------------------------- */

.right-box1{
    background: var(--Purple500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2em;
    height: 350px;
}

.right-box1 h1{
    text-align: center;
    font-size: 65px;
    line-height: 60px;
    letter-spacing: -3px;
    font-weight: 600;
    color:var(--White);
    width: 90%;
}

.right-box1 h1 .number{
    color: var(--Yellow500);
}

.right-box1 h1 .FWord{
    font-style: italic ;
}

.box3-content{
    text-align: center;
}

.box3-content p{
    font-size: 18px;
    color:var(--Yellow100);
}

.box3-content img{
    width: 85%;
    height: 32px;
}

/* RIGHT-BOX2 --------------------------------------------------------------------------------------------------------------------------- */

.right-box2{
    background: var(--Purple100);
    overflow: hidden;
    padding: 0px 0 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2em;
}

.right-box2 h2{
    font-size: 35px;
    letter-spacing: -2px;
    line-height: .9;
    width: 90%;
}

.right-box2 p{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -1px;
    width: 90%;
}

.right-box2 img{
    height: 50%;
    width: 430px;
}

/* RIGHT-BOX3 --------------------------------------------------------------------------------------------------------------------------- */

.right-box3{
    background: var(--White);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0 0 0 30px;
}

.right-box3 h2{
    font-size: 33px;
    line-height: 30px;
    letter-spacing: -1px;
    width: 80%;
    font-weight: 700;
}

.right-box3 img{
    height: 80px;
    width: 350px;
}

/* RIGHT-BOX4 --------------------------------------------------------------------------------------------------------------------------- */

.right-box4{
    background: var(--Yellow500);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    padding: 20px 0 0 30px;
}

.right-box4 h2{
    font-size: 33px;
    line-height: 30px;
    letter-spacing: -1px;
    width: 70%;
    font-weight: 700;
}

.right-box4 img{
    width: 88%;
    height: 300px;
}

/* RIGHT-BOX5 --------------------------------------------------------------------------------------------------------------------------- */

.right-box5{
    background: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    padding: 0 0 0 30px;
}

.right-box5 h1{
    font-size: 60px;
}

.right-box5 p {
    font-size: 22px;
}

.right-box5 img{
    width: 75%;
    height: 70px;
}

/* RIGHT-BOX6 --------------------------------------------------------------------------------------------------------------------------- */

.right-box6{
    background: var(--Purple500);
    padding:0 0 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.right-box6 h1{
    color:white;
    font-size: 42px;
    line-height: 35px;
    letter-spacing: -1px;
    width: 70%;
    font-weight: 700;
}

.right-box6 img{
    width: 42%;
}

    /* responsive ------------------------------------------------------------------------------------------------------------------------------ */
    /* responsive ------------------------------------------------------------------------------------------------------------------------------ */
    /* responsive ------------------------------------------------------------------------------------------------------------------------------ */
    /* responsive ------------------------------------------------------------------------------------------------------------------------------ */
    /* responsive ------------------------------------------------------------------------------------------------------------------------------ */
            


@media(max-width:375px){
    .div-container{
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        padding: 25px 20px;
    }

    /* BOX RIGHT ------------------------------------------------------------------------------------------------------- */
    /* BOX RIGHT ------------------------------------------------------------------------------------------------------- */
    /* BOX RIGHT ------------------------------------------------------------------------------------------------------- */

    .box-right{
        order:1;
        display: flex;
        flex-direction: column;
    }

    /* RIGHT BOX-1 ----------------------------------------------------------------------------------------------------------- */

    .right-box1 {
        order: 1;
        height:300px;
        line-height: 0.5;
    }

    .right-box1 h1{    
        font-size: 45px;
        line-height: 0.9;
        width: 80%;
    }  

    .right-box1 .box3-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    /* RIGHT BOX-2 ----------------------------------------------------------------------------------------------------------- */

    .right-box2{
        order: 4;
        gap:1.5em;

        padding: 30px 0;
    }

    .right-box2 h2{
        font-size: 27px;
        text-align: center;
        width: auto;
    }

    .right-box2 p{
        margin: auto;
        text-align: center;
        font-size: 20px;
        width: 80%;
    }

    .right-box2 img{
        width: 95%;
        height: 310px;
        margin: auto;
    }
    /* RIGHT BOX-3 ----------------------------------------------------------------------------------------------------------- */

    .right-box3{
        order: 2;
        padding: 10px 0 10px 30px;
    }

    .right-box3 h2{
        width: 90%;
        font-size: 24px;
        line-height: 0.9;
    }

    .right-box3 img{
        width: 100%;
        height: 70px;
    }
    /* RIGHT BOX-4 ----------------------------------------------------------------------------------------------------------- */

    .right-box4{
        order: 3;
        height: 200px;
        
    }

    .right-box4 h2{
        width:90%;
        font-size: 23px;
        line-height: 0.9;
    }

    .right-box4 img{
        height: 150px;
        width: 62%;
        

    }
    /* RIGHT BOX-5 ----------------------------------------------------------------------------------------------------------- */

    .right-box5{
        order: 6;
        gap: 1.5em;

        padding: 10px 20px;
    }

    .right-box5 .box5-content h1{
        font-size: 40px;
    }

    .right-box5 .box5-content p{
        font-size: 16px;
    }

    .right-box5 img{
        width: 50%;
        height: 70px;
        padding-bottom: 15px;
    }

    

    /* RIGHT BOX-6 ----------------------------------------------------------------------------------------------------------- */

    .right-box6{
        order: 5;
        padding: 25px 0;
        gap: 2em;
        flex-direction: column;
    }

    .right-box6 h1{
        font-size: 29px;
        text-align: center;
        width: 75%;
        line-height: 0.9;
    }

    .right-box6 img{
        width: 70%;
    }

    /* BOX LEFT ----------------------------------------------------------------------------------------------------------------- */
    /* BOX LEFT ----------------------------------------------------------------------------------------------------------------- */
    /* BOX LEFT ----------------------------------------------------------------------------------------------------------------- */

    .box-left{
        order:2;
    }

    /* BOX LEFT TOP ----------------------------------------------------------------------------------------------------------------- */
    /* BOX LEFT TOP ----------------------------------------------------------------------------------------------------------------- */

    .left-box-top{
        padding: 30px 0 30px 30px;
    }

    .left-box-top h2{
        width: auto;
        font-size:32px;
        line-height: 0.9;
        letter-spacing: -2px;
    }

    .left-box-top img{
        width: 60%;
        height: 85px;
    }


    /* BOX LEFT BOTTOM ----------------------------------------------------------------------------------------------------------------- */
    /* BOX LEFT BOTTOM ----------------------------------------------------------------------------------------------------------------- */

    .left-box-bottom{
        gap: 1.5em;
    }

    .left-box-bottom h2{
        width: 90%;
        font-size: 30px;
        letter-spacing: -2px;
        line-height: 0.9;
        font-weight: 600;
    }

    .left-box-bottom img{
        width: 65%;
        height: 210px;
    }
}











